apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: relayer-data
  namespace: ika-tensei
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 5Gi
